<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Integration Tests" parallel="classes" thread-count="10">
    <test name="Science-Parse">
        <groups>
            <run>
                <include name="integration"/>
            </run>
        </groups>
        <packages>
            <package name="org.allenai.scienceparse.*"/>
        </packages>
    </test>
</suite>
